
html{
  overflow: hidden;
}
.top-bar {
    /*background: #1F2937;*/
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-container{
    margin-top: 200px;
    margin-left: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-cell{
    width: 100%;
    margin: 0;
    border: solid 2px transparent;
    border-radius: 0;
    text-align: center;
}

.form-cell:hover{
    border-color: gray;
}

.form-header {
    position: fixed;
    padding: 5px;
    background: #940404;
    top: 63px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   

.form-header,
.main-container{
    width: calc(100% - 200px);
}

.form-container{
    width:100%;
    max-width: 100%;
}

.form-container > div {
    overflow: auto;
    width: -webkit-fill-available;
    height: calc(100vh - 210px);
    max-width: 100%;
}

.form-cell2{
    width: 90%;
    margin: 0;
    border: solid 2px transparent;
    border-radius: 0;
    font-size: 15px;
    padding: 2px;
}

.form-cell3{
    width: 100%;
    margin: 0;
    border: solid 2px transparent;
    border-radius: 0;
    font-size: 15px;
    padding: 2px;
}

.line-input{
    width: 300px;
    text-align: center;
}

.footer-cell{
    width: 100%;
    margin: 0;
    border: solid 2px transparent;
    border-radius: 0;
    font-size: 15px;
    padding: 2px 2px 0px;
    text-align: center;
}

.formlist-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@keyframes flip {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); } 
  }
  
  .logo-flip {
    animation: flip 5s linear infinite;
  }



  
 